/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#top {
  background-color: black;
  margin: -10px;
  padding: 5px;
  padding-left: 10px;
  font-family: Helvetica;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}

#plink {
  color: gray;
}

#plink:visited {
  color: #00007A;
}

#rules {
  background-color: #FFFF99;
  float: right;
  clear: both;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: -7px;
}
