<section id="add">
  <form action="/" method="post">
  	<input type = "text" name="recipe_title" placeholder="Recipe Title">
    <textarea name="content" placeholder="Your Recipe&hellip;"></textarea>
    <input type="submit" value="Add Recipe">
  </form>
</section>
